<div>
    <div class="">
        <div>
            <h1>Mission</h1>
            <h4>Empower individuals with an accountability ecosystem to achieve personal aspirations and network to drive collective impact.</h4>
        </div>
        <div>
            <h1>Vision</h1>
            <h4>Achieve our boldest aspirations, together.</h4>
        </div>
        <div>
            <h1>About Moodefy</h1>
            <h4>Moodefy launched in October 2019 to catalyze the interest in social and collective impact into action. While we recognize that personal aspirations may be unique, we share common goals for society. To facilitate this shift, we’re designing an web-based ecosystem that helps tackle the most common obstacles to realizing the changes we wish to achieve. We believe with clearly defined pathways and accountability toward shared visions, we can actualize the world that we all deserve. By transforming individual actions into collective impact, we’re committing to making our boldest dreams a reality.</h4>
        </div>
        <div>
            <h1>Meet the Founder</h1>
            <h4>Micheal McElveen is a social entrepreneur dedicated to making accountability <em>sexy</em>sexy. His formal careers span college persistence and career readiness, mentorship, public relations, and data analytics for social impact. Micheal graduated from The American University in Washington, DC with a BA in Public Communication. He has affectionately called Los Angeles, Philadelphia, DC, and now Chicago home.
</h4>
        </div>

    </div>
    {{!-- <div>
        <img class="about" src="https://i.ibb.co/Gp1jyLc/mdm-hdst-clr.jpg">
    </div> --}}
</div>