
  <!-- HERO -->
  <div class="jumbotron text-center hero-background-img">
    <h1 class="hero">Transforming <br> individual action <br> into collective impact.</h1>
    <h2 class="text">Meet Moodefy, an accountability ecosystem that measures <br> and makes possible the change we wish to achieve</h2>
    <a href="/about" class="btn btn-primary">Learn More</a>
  </div>

  <div class="quote">
    <h2 class="quote">We all have personal aspirations that we haven’t realized yet. We’re here to help make 
those aspirations a reality, together. By transforming individual action into collective
impact, we empower communities of like-minded individuals to drive real change.</h2>
  </div>
    
    <div class="benefits">
      <h2 class="benefits-features-title-two">Collective impact made simple.</h2>
      <h5 class="benefits-features">Use Moodefy to unify your community around a common goal and inspire change in three simple steps: </h5>
      <div class="row" id="homepage-row">
        <div id="home" class="col-lg-4 col-xl-4 col-xxl-4 col-md-12 col-xs-12 col-sm-12">
          <img src="https://i.ibb.co/YcW8ZdP/pexels-c-e-716276.jpg" class="img-fluid rounded">
        </div>
        <div id="home" class="col-lg-4 col-xl-4 col-xxl-4 col-md-12 col-xs-12 col-sm-12"> 
          <img src="https://i.ibb.co/mRCsc27/pexels-andrea-piacquadio-3765164.jpg" class="img-fluid rounded"> 
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-12 col-xs-12 col-sm-12">
          <img src="https://i.ibb.co/2tKZDF7/pexels-mentatdgt-1311547.jpg" class="img-fluid rounded">
        </div>
      </div>
      <div class="row" id="homepage-row">
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-12 col-xs-12 col-sm-12">
          <h4 class="bold-text"><b class="home">Create the vision</b></h4> 
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-12 col-xs-12 col-sm-12"> 
          <h4 class="bold-text"><b class="home">Outline the path</b></h4> 
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-12 col-xs-12 col-sm-12">
          <h4 class="bold-text"><b class="home">Activate the change</b></h4>
        </div>
      </div>
      <div class="row" id="homepage-row">
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-12 col-xs-12 col-sm-12">
          <h5 class="thin-text">1. Name the overall goal <br> and describe its intended <br> impact.
          </h5> 
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-12 col-xs-12 col-sm-12"> 
          <h5 class="thin-text">2. Identify the individual <br> actions that achieve the <br> goal.</h5>  
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-12 col-xs-12 col-sm-12">
          <h5 class="thin-text">3. Invite your community to <br> take action and track their <br> individual contributions to the <br> collective impact happening.
          </h5>
        </div>
      </div>
    </div>
  


  <!-- CALL TO ACTION -->
  <div class="jumbo action">
    <div class="test">
            <h1 class="cta"><u>Real</u> change is possible, together.</h1>
              <h2 class="cta-small-text">We inspire change as individuals but we make change as communities. Creating the world that we all
deserve has never been more achievable with Moodefy. It’s time to take action.</h2>
              <h2 class="cta-bold-text">Contact us today</h2>
              <form action="/users" method="post"> 
                  <div class="row g-3">
                    <div class="col" id="form">
                      <input type="text" class="form-control" placeholder="Full name" name="fullName" aria-label="Full name">
                    </div>
                    <div class="col" id="form">
                      <input type="text" class="form-control" placeholder="Preferred Email" name="email" aria-label="Preferred Email">
                    </div>
                  </div>
                   <div class="row g-3">
                    <div class="col" id="form">
                      <input type="text" class="form-control" placeholder="Website" name="website" aria-label="Website">
                    </div>
                    <div class="col" id="form">
                      <select class="form-select" name="vision" aria-label=".form-select-sm example">
                        <option selected>Open this select menu</option>
                        <option value="Creating a community vision">Creating a community vision</option>
                        <option value="Joining a community vision">Joining a community vision</option>
                        <option value="All">All</option>
                      </select>
                    </div>
                  </div>
                  <button class="btn btn-primary" id="cta-button" type="submit">Learn More</button>
              </form>
    </div>
  </div>
</div>
      