
      <!-- HERO -->
   <div class="jumbotron text-left hero-background-img">
     <div class="row">
       <div class="col-lg-6 col-xl-6 col-xxl-6">
         <h1 class="hero">Transforming <br> individual action <br> into collective impact.</h1>
          <h5 class="lead">Meet Moodefy, an accountability ecosystem that measures <br> and makes possible the change we wish to achieve.</h5>
          <a href="#" class="btn btn-primary">Learn More</a>
       </div>
       <div class="col-lg-6 col-xl-6 col-xxl-6">
         <div class="hero-img">
         </div>
       </div>
      </div>
    </div>


  <!-- BENEFITS -->
  <div class="jumbotron text-center white">
    <h5 class="benefits-features-one">We all have personal aspirations that we haven’t realized yet. We’re here to help make <br> those aspirations a reality, together. By transforming individual action into collective <br> impact, we empower communities of like-minded individuals to drive <b><u>real</u></b> change.
    </h5>
  </div> 
    
    <div class="benefits">
      <h2 class="benefits-features-title-two">Collective impact made simple.</h2>
      <h5 class="benefits-features">Use Moodefy to unify your community around a common goal and inspire change in three simple steps: </h5>
      <div class="row" id="homepage-row">
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-12 col-xs-12 col-sm-12">
          <img src="https://i.ibb.co/YcW8ZdP/pexels-c-e-716276.jpg" class="img-fluid rounded">
          <h5 class="bold-text"><b>Create the vision</b></h5>
          <p class="thin-text">1. Name the overall goal and describe its intended impact.
          </p> 
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-12 col-xs-12 col-sm-12"> 
          <img src="https://i.ibb.co/YBMR552/pexels-andrea-piacquadio-4814713.jpg" class="img-fluid rounded">
          <h5 class="bold-text"><b>Outline the path</b></h5>
          <p class="thin-text">2. Identify the individual actions that achieve the goal.</p>  
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-12 col-xs-12 col-sm-12">
          <img src="https://i.ibb.co/2tKZDF7/pexels-mentatdgt-1311547.jpg" class="img-fluid rounded">
          <h5 class="bold-text"><b>Activate the change</b></h5>
          <p class="thin-text">3. Invite your community to take action and track their individual contributions to the collective impact happening.
          </p>
        </div>
      </div>
    </div>
  


  <!-- CALL TO ACTION -->
  <div class="jumbo action">
    <div class="d-flex justify-content-center">
        <div class="jumbotron mb-0">
            <h1 class="cta"><u>Real</u> change is possible, together.</h1>
            <div class="">
              <p class="cta-small-text">We inspire change as individuals but we make change as communities. Creating the world that we all
deserve has never been more achievable with Moodefy. It’s time to take action.</p>
              <p class="cta-bold-text">Contact us today</p>
              <form action="#" class=''>
                  <div class="row g-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Full name" aria-label="Full name">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Preferred Email" aria-label="Preferred Email">
                    </div>
                  </div>
                   <div class="row g-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Website" aria-label="Website">
                    </div>
                    <div class="col">
                      <select class="form-select" aria-label=".form-select-sm example">
                        <option selected>Open this select menu</option>
                        <option value="1">Creating a community vision</option>
                        <option value="2">Joining a community vision</option>
                        <option value="3">All</option>
                      </select>
                    </div>
                  </div>
                <a href="#" class="btn btn-primary" id="cta-button">Learn More</a>
              </form>
            </div>
          </div>
    </div>
  </div>
</div>
  