
{{> header}}
{{> navbar}}
  <div class="row" id="index">
    <h1 class="index">Vision Maps</h1>
    {{#maps}}
      <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-xs-12 col-sm-12">
        <div class="card h-100" style="width: 18rem;">
          <div class="card-body">
            <h2 id="card"><a class="card-title" href="/maps/{{id}}">{{creator}}</a></h2>
            <p class="card-text"><b>Vision: </b> {{mission}}</p>        
          </div>
        </div>
      </div>
    {{/maps}}
  </div>
{{>footer}}


