body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;  
    overflow-x: hidden;
    padding: 0px;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.0rem;
}

.btn {
    font-size: 1.2rem;
    font-weight: bold;
}

.container {
    padding: 0px;
    margin: 0px;
}

.navbar {
    padding: 0px;
}



/**********
navbar
**********/

.bg-light {
    background-color: #ffffff !important;
}


a.btn.btn-primary {
  border-radius: 12px;

}

.btn.btn-primary {
    background-color: #732D93;
    border-radius: 12px;
}

a.nav-link {
    color: #732D93 !important;
    font-weight: bold;
    font-size: 20px;
}

a:hover {
    color: white;
}

a.navbar-brand {
    color: #732D93 !important;
    font-weight: 600;
    font-size: large;
}

a.nav-item {
    color: #732D93 !important; 
}

a#cta-button {
    align-items: left;
}

b, u {
    color: #732D93;
}

h1.title {
    color: #732D93 !important; 
    font-family: 'Roboto', sans-serif;
    margin-top: 200px;

}

/**********
hero image
**********/

.hero-background-img {
    background: linear-gradient(rgba(44, 62, 80,.4), rgba(44, 62, 80,.4)), url("https://i.ibb.co/VjpcrQz/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.jumbotron {
    background-color: transparent;
}


h1.hero {
    color: white;
    margin-top: 100px;
    font-weight: bold;
    padding-bottom: 50px;
}


p.lead {
    color: #732D93;
    font-weight: 500;
}


/**********
how it works
**********/

h2.text {
    color: white;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}



div.bg-secondary.p-5.text-white  {
    text-align: center;
    background-color: #732D93 !important;

}


.img-fluid {
    max-height: 200px;
    color: #732D93;

}

.benefits-features {
    text-align: center;
    margin-bottom: 5px;
}
  
.benefits-features-one {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    text-align: left;
    font-weight: lighter;
}

h3.benefits-features-one {
    padding-left: 0px;
}

.jumbotron {
    margin-bottom: 0px;
}

.jumbotron.text-center.hero {
    padding: 0px;
}

/**********
benefits
**********/

div.jumbotron.text-center.white {
    background-color: white;
}

.jumbotron.text-center.action {
    background-color: white;
}

.jumbotron.text-center.mb-0 {
    background-color: white;
    color: #732D93;
}

.col-lg-4 {
    padding-top: 20px;
    padding-bottom: 20px;
}


h2.benefits-features-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    color: #732D93 !important;
    padding-top: 50px;
}

h2.benefits-features-title-two {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    color: #732D93 !important;
    padding-top: 50px;
    padding-left: 32px;
}

h5 {
    font-weight: 400;
    color: gray;
}

h5.benefits-features {
    text-align: center;
    padding-left: 32px;
}

h4.bold-text {
    padding-top: 10px;
    font-weight: 600;
}

h5.thin-text {
    padding-left: 50px;
}

p.lead.mb-4 {
   color: #732D93; 
}



.container.pb-5.pb-5.one {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;

}


h1.title-two {
  color: #732D93 !important; 
  font-family: 'Poppins', sans-serif;
  margin-top: 70px;
  z-index: 5;

}

h5.footer-text {
    color: white;
    font-weight: bold;
}

div.col-sm-8 {
    background-color: white;
    box-shadow: 5px 5px 15px 5px #000000;
    padding-top: 75px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 200px;
    border-radius: 15px;
}

label {
    color: #732D93;
    font-weight: bold;
}

.form-title {
    color: #732D93;
    text-align: center;
    font-weight: bold;
}

#form-button {
    margin-left: 400px;
    margin-top: 40px;

}

h1.cta {
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    color: #732D93;
    padding-left: 8px;
}

h1.cta-two {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #732D93;
    padding-left: 8px;
}

h2.cta-small-text  {
    text-align: center;
    color: #90b6b9;
    padding-left: 11px;
    font-weight: bold;
}

h2.cta-small-text-two  {
    text-align: center;
    color: #90b6b9;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    margin-bottom: 35px;
}

h2.cta-bold-text {
    font-weight: bold;
    text-align: center;
    color: #732D93;
    padding-left: 11px;
    padding-top: 20px;
}

#cta-button {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 620px;
}

li.list-group-item {
    background-color: white;
    color: #732D93;

}

div#homepage-row.row {
    padding-left: 95px;
}

div.test {
    padding-left: 20px;
    margin-right: 20px;
}

h1.index {
    text-align: center;
    color: #732D93;
    font-weight: bold;
}

div#index.row {
    padding-left: 20px;
}

div.card-body {
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 15px;
}

div#show.card.h-100 {
    margin-left: 500px;
    margin-bottom: 100px;
}

div.jumbotron.text-left.hero-background-img {
    padding-top: 0px;
}

b.home {
    padding-left: 55px;
    text-align: center;
}

div#form.col {
    padding-left: 8px;
}

div.bg-secondary.p-5.text-white {

    left: 0;
    bottom: 0;
    width: 100%;
}

div#subs.card {
    margin-bottom: 150px;
}

a#subscribe.btn.btn-primary.btn-sm {
    margin-right: 60px;
    padding: 4px 4px;
}

div#show.container {
    margin-top: 50px;
}

a#index.btn.btn-primary {
    margin-left: 70px;
}

div.jumbo.action {
    padding-top: 100px;
    background-color: #f0f0f0;
}

img#image.img-fluid.rounded {
    width: 230px;
}

h4.card-title {
    color: #732D93;
    text-align: center;
}

h4#card {
    text-align: center;
}


a:hover {
    color: #90b6b9;
  }

a.nav-link:hover {
    color: #90b6b9;
}

a.btn.btn-primary:hover {
    background-color: #90b6b9;
}

div.quote {
    color: white;
    background-color: #90b6b9;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

h2.quote {
    font-weight: bold;
}

div#homepage-row.row {
    justify-content: space-evenly;
}

.rounded {
    border-radius: 25px !important;
}

img.lost {
    margin-left: -300px;
    margin-top: -200px;
}

img.about {
    margin-left: -600px;
    margin-top: -800px;
}

.fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-instagram {
    color: white;
}

h2#card {
    text-align: center;
}

div#id.col-lg-4.col-xl-4.col-xxl-4.col-md-12.col-xs-12.col-sm-12 {
    padding-top: 10px;
    padding-bottom: 10px;
}

div.sub {
    text-align: center;
    color: #732D93;
}

h3.sub {
    text-align: center;
    color: #732D93;
}

button#delete.btn.btn-primary {
    margin-top: 20px;
    margin-left: 407px;
}

img.about-page {
    margin-top: 20px;
    margin-left: 300px;
    margin-bottom: 25px;
    background-color: #F0F0F0;

}

div.about-page {
    background-color: #F0F0F0;
}

div.about-info {
    padding-left: 32px;
    padding-right: 32px;
}

div.gray {
    background-color: #F0F0F0;
}

a#calendar.btn.btn-primary {
    margin-left: 485px;
    margin-bottom: 30px;
}


@media screen and (min-width: 1901px) and (max-width: 2000px) 
{ 
    #cta-button {
        margin-left: 870px;
    }

    #form-button {
        margin-left: 595px;
        margin-top: 40px;
    
    }

}

@media screen and (min-width: 1801px) and (max-width: 1900px) 
{ 
    #cta-button {
        margin-left: 850px;
    }

    #form-button {
        margin-left: 595px;
        margin-top: 40px;
    
    }

}

@media screen and (min-width: 1801px) and (max-width: 1900px) 
{ 
    #cta-button {
        margin-left: 830px;
    }

    #form-button {
        margin-left: 565px;
        margin-top: 40px;
    
    }

}

@media screen and (min-width: 1701px) and (max-width: 1800px) 
{ 
    #cta-button {
        margin-left: 815px;
    }

    #form-button {
        margin-left: 540px;
        margin-top: 40px;
    
    }

}

@media screen and (min-width: 1601px) and (max-width: 1700px) 
{ 
    #cta-button {
        margin-left: 730px;
    }

    #form-button {
        margin-left: 500px;
        margin-top: 40px;
    
    }

}

@media screen and (min-width: 1501px) and (max-width: 1600px) 
{ 
    #cta-button {
        margin-left: 635px;
    }

    #form-button {
        margin-left: 475px;
        margin-top: 40px;
    
    }

}

@media screen and (min-width: 1401px) and (max-width: 1500px) 
{ 
    #cta-button {
        margin-left: 635px;
    }

    #form-button {
        margin-left: 430px;
        margin-top: 40px;
    
    }


}

@media screen and (min-width: 1301px) and (max-width: 1400px) 
{ 
    #cta-button {
        margin-left: 575px;
    }

    #form-button {
        margin-left: 390px;
        margin-top: 40px;
    
    }

}

@media screen and (min-width: 1201px) and (max-width: 1300px) 
{ 
    #cta-button {
        margin-left: 540px;
    }

    #form-button {
        margin-left: 350px;
        margin-top: 40px;
    
    }

}

@media screen and (min-width: 1101px) and (max-width: 1200px) 
{ 
    #cta-button {
        margin-left: 480px;
    }

    #form-button {
        margin-left: 310px;
        margin-top: 40px;
    
    }

}


@media screen and (min-width: 1000px) and (max-width: 1100px) 
{ 
    #cta-button {
        margin-left: 430px;
    }

    #form-button {
        margin-left: 284px;
        margin-top: 40px;
    
    }

}

@media screen and (min-width: 768px) and (max-width: 999px)  {


    #cta-button {
        margin-left: 350px;
    }

    #form-button {
        margin-left: 200px;
        margin-top: 40px;
    
    }

    h2.cta-small-text-two {
        margin-bottom: 3px;
    }

    a#calendar.btn.btn-primary {
        margin-left: 315px;
    }



}


@media screen and (min-width: 360px) and (max-width: 667px) { 

    .top {
        background-image: url("https://i.ibb.co/VjpcrQz/image.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center
    
    }


    p.thin-text {
        padding-left: 20px;

    }

    .btn.btn-primary.mb-2 {
        margin-left: 120px;
        margin-top: 10px;
    }

    .img-fluid {
        margin-left: 50px;
    }

    h5.bold-text {
        margin-left: 80px;
    }

    a#calendar.btn.btn-primary {
        margin-left: 125px;
    }

    h2.cta-small-text-two {
        margin-bottom: 3px;
    }


}

  